<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>glm_files</string>
			<key>CFBundleTypeName</key>
			<string>GLM+</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SWDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Text</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>GLM+</string>
	<key>CFBundleIconFile</key>
	<string>glm+</string>
	<key>CFBundleIdentifier</key>
	<string>au.edu.uwa.see.aed.glm+</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GLM+</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.8.0alpha2</string>
	<key>CFBundleSignature</key>
	<string>XLM2</string>
	<key>CFBundleVersion</key>
	<string>20180307</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://aed.see.uwa.edu.au/</string>
</dict>
</plist>
