bin
*.tar.gz
*.diff
*.o
*.mod
*.so
*.dylib
*.i90
*.u2d
glm
glm.app
glm.exe
glm+
glm+.app
glm+.exe
Glm-Log.txt
._*
.DS*
.*.swp
control
build-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/control
output.nc
WQ_*.csv
lake.csv
outlet.csv
overflow.csv
Examples
.Rproj.user
GLM.Rproj
