bin
*.tar.gz
*.diff
*.o
*.mod
*.so
*.dylib
*.i90
glm
glm.app
glm+
glm+.app
._*
.DS*
.*.swp
control
build-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars
output.nc
WQ_*.csv
lake.csv
outlet.csv
overflow.csv
Examples/release/coldlake/WQ_15.csv
Examples/release/coldlake/WQ_17.csv
Examples/release/coldlake/lake.csv
Examples/release/coldlake/outlet_00.csv
Examples/release/coldlake/output.nc
Examples/release/coldlake/overflow.csv
Examples/release/warmlake/WQ_17.csv
Examples/release/warmlake/lake.csv
Examples/release/warmlake/outlet_00.csv
Examples/release/warmlake/output.nc
Examples/release/warmlake/overflow.csv
Examples/extra/wetland/WQ_12.csv
Examples/extra/wetland/lake.csv
Examples/extra/wetland/outlet_00.csv
Examples/extra/wetland/output.nc
Examples/extra/wetland/overflow.csv
