Source: glm
Section: science
Priority: extra
Maintainer: Aquatic EcoDynamics Group
Standards-Version: 3.9.3
Homepage: http://aquatic.science.uwa.edu.au/research/models/GLM/

Package: glm
Architecture: any
Depends: ${misc:Depends},
  libgfortran-8-dev,
  libnetcdff-dev,
  libgd-dev
Description: General Lake Model
 Model the bio-geo-chemical processes in lakes.

Package: glm+
Architecture: any
Depends: ${misc:Depends},
  libgfortran-8-dev,
  libnetcdff-dev,
  libgd-dev
Description: General Lake Model Plus
 Advanced modelling of the bio-geo-chemical processes in lakes.
