#!/usr/bin/make -f

package=glm
year=2019
version=3.1.0a4
release=0.0

#export DH_VERBOSE=1

binary:
	dh_testdir
	-mkdir -p $(CURDIR)/debian/glm/usr/local/bin
	-(cp $(CURDIR)/glm $(CURDIR)/debian/glm/usr/local/bin)
	dh_install
	dh_gencontrol
	dh_builddeb


clean:
	dh_clean


.PHONY: clean binary
