//==============================================================================
// glm.rc
// A part of GLM
//==============================================================================
#include "windows.h"

#define APP_MENU              200
#define APP_ICON              300

#define APP_ABOUT             0x100
#define APP_EXIT              0x101

//==============================================================================
//
APP_ICON                 ICON    DISCARDABLE     "glm+.ico"

//==============================================================================
APP_MENU MENU DISCARDABLE
BEGIN
    POPUP "&GLM"
    BEGIN
        MENUITEM "A&bout",                      APP_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       APP_EXIT
    END
END

//==============================================================================
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3.1.0a4
 PRODUCTVERSION 3.1.0a4
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0c0904b0"
        BEGIN
            VALUE "CompanyName", "AED Group; University of Western Australia"
            VALUE "FileDescription", "General Lake Model (GLM) with AED+"
            VALUE "FileVersion", 3.1.0a4
            VALUE "InternalName", "version.rc"
            VALUE "LegalCopyright", "Copyright (C) 2019"
            VALUE "OriginalFilename", "version.rc"
            VALUE "ProductName", "GLM+"
            VALUE "ProductVersion", 3.1.0a4
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0xc09, 1200
    END
END
